body{
	background-color: #ECE4B7;
}

.btn-primary{
	background-color: #872321;
	border-color: #6B0707;

}

.btn-default:focus {outline: none;}

.btn-primary:focus { outline: none; } 

.btn-primary:hover{
	background-color: #6B0707;
	border-color: #872321;
}

a {
	color: #872321;
}


a:hover {
	color: #872321;
}

.form-control:focus {
  border-color: #E8684E;
}

btn-weather:active{
	background-color: white;
}

.hov{
	display: inline-block;
}

hr {
	color: #403F4C;
	background-color: #403F4C;
	border-color: #403F4C;
}

.contain {
	border: none !important;
	border-color: #ECE4B7;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/*---*/

.navbar {
    margin-bottom: 0;
    border-radius: 0;
        
    }
    
    .contain{
      text-align: center;
      border: 1px solid #eee;
      border-radius: 5px;
      }
    .hov:hover{
        cursor: pointer;
    }
    
    .row.content {height: 767px;}

    .sidenav {
	  /**/
	  background: #f9f2f3; 
	  background: -webkit-linear-gradient(left, #ECE4B7 , #f9f2f3); 
	  background: -o-linear-gradient(right, #ECE4B7, #f9f2f3); 
	  background: -moz-linear-gradient(right, #ECE4B7, #f9f2f3); 
	  background: linear-gradient(to right, #ECE4B7 , #f9f2f3); 
      padding-top: 20px;
      height: 100%;
    }

    .sidenavl {
	  /**/
	  background: #f9f2f3; 
	  background: -webkit-linear-gradient(right, #ECE4B7 , #f9f2f3); 
	  background: -o-linear-gradient(left, #ECE4B7, #f9f2f3); 
	  background: -moz-linear-gradient(left, #ECE4B7, #f9f2f3); 
	  background: linear-gradient(to left, #ECE4B7 , #f9f2f3); 

      padding-top: 20px;
      height: 100%;
    }
    
    footer {
      padding: 15px;
      background-color: #333;
	    color: #872321;
    }
   
      .main{
          height: auto;
      }
      
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

#hide{
          display: none;
}
#hide2{
          display: none;
}
#option1:hover{
        cursor: pointer;
}
#option2:hover{
        cursor: pointer;
}
#option3:hover{
        cursor: pointer;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat);

* {margin: 0; padding: 0;}

body {
	font-family: montserrat, arial, verdana;
}