<!DOCTYPE html>

<html lang="en">
<head>

  <title>DoesNotCommute</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script>
        function fnctn(a, b){
            var i, k;
            for(i=0; i<b.length; i++){
                if(a == b[i]){
                    k=i+1;
                }
                document.getElementById(b[i]).style.display = "none";
            }
            document.getElementById(b[k]).style.display = "inherit";
        }
    </script>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a href="/"><img src="../static/img/logo.png" height="100%" width="25%"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="#">About</a></li>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenavl">
    </div>
    <div class="col-sm-8 text-left main"> 
      <div class="col-sm-2 col-centered"><h1>About</h1></div>
      <hr>
      <center><img src="../static/img/logo.png" height="5%" width="40%"></center>
      <div id="explanation">
      <center><h2> What is <b>DoesNotCommute?</b> </h2></center>
      <p>
      <b>DoesNotCommute</b> is an all in one commuter app made by New Yorkers, for New Yorkers.
      </p>
      <p>
      Using information from <b>Google Maps</b> and <b>DarkSky</b>, we provide users with reliable, up-to-date information and statistics regarding their commute. We provide it all: from optimal routes, to delays, to alerts, to weather. 
      </p>
      <p>
      Whatever might get in your way from point A to point B, we'll give you the latest. We've got you covered!
      </p>
      <p>
      You'll never be late again with the help of our fast and efficient app!
      </p>
      </div>
      <div>
      <hr>
      <center><h2> How Does It Work?</b> </h2></center>
      <p>
      <b>DoesNotCommute</b> is designed with you in mind! We that when you're on the go, you don't have time for extra, complicated things. That's why we've designed our interface to be user-friendly, with simplicity in mind.
      </p>
      <p>
      To begin, visit our homepage. Then enter the requested information when prompted, including your desired location, desired time of arrival, and transportation method.
      </p>
      <p>
      Once you're done, we'll show you the best possible routes, as well as information about the weather and other annoying things that might get in your way on the way there!
      </p>
      <p>
      If you travel with us, you'll make it there on time, every time. That's our promise!
      </p>
      <hr>

      </div>
    </div>
    <div class="col-sm-2 sidenav">
    </div>
  </div>
    
</div>
    
    <footer class="footer container-fluid text-center">
    <div class="col-sm-6">
  <p>© Copyright 2016 DoesNotCommute</p>
  </div>
   <div class="col-sm-6">
   <a target="_blank" href="https://darksky.net/poweredby/">Powered by Darksky</a>
  </div>
</footer>
</body>
</html>
