<!DOCTYPE html>

<html lang="en">
<head>

  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <style>
        .contain{
            display: none;
            align-content: center;
        }
    </style>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script>
        function sub(){
            if (document.getElementById("am1").value == ""){
                document.getElementById("am1").value="current_location";
            }
            document.getElementsByTagName("form")[0].submit();
        }
        
        function fnctn(a, b){
            var i, k;
            for(i=0; i<b.length; i++){
                if(a == b[i]){
                    if(i==1 && document.getElementById("am2").value == ""){
                        k= i;
                        alert("Please Enter An Address in the Space Provided");
                    }else {
                        k = i+1;
                    }
                }
                document.getElementById(b[i]).style.display = "none";
            }
            document.getElementById(b[k]).style.display = "inherit";
        }
        
        function fnct(a, b){
            var i, k;
            for(i=0; i<b.length; i++){
                if(a == b[i]){
                    k = i-1;
                }
                document.getElementById(b[i]).style.display = "none";
            }
            document.getElementById(b[k]).style.display = "inherit";
        }
    </script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a href="#"><img src="static/img/logo.png" height="100%" width="20%"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/about">About</a></li>
        </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenavl">
    </div>
    <div class="col-sm-8 text-left main"> 
      <center><h1><b>{{title}}</b></h1></center>
      <hr>

          <form class="centered" action="/result" method="POST">
              <div id = "option1" class="contain" style="display:inherit">
                  <div>
                  <h3>Where are you now?</h3>
                  <br>
                  </div>
                  <div>
                  <img src="static/img/33.png" height="10%" width="10%">
                  </div>

                  <div class="col-sm-4 col-centered">
                  <input type="text"  id="am1" name="location" class="form-control" placeholder="Enter Your Location Here">
                  </div>
                  <br>


                  <div  onclick="fnctn('option1', ['option1','option2','option3','option4'])" class="hov"><button type="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></div>

            </div>
              <div  id = "option2" class="contain">
                  <h3>Where would you like to go?</h3>
                  <div>
                  <br>
                   <img src="static/img/destination.png" height="10%" width="10%">
                   </div>
                   <div class="col-sm-4 col-centered">
            <input type="text" id="am2" class="form-control" name="destination" placeholder="Destination" required>
            </div>
            <br>

                  <div>
                    <div onclick="fnct('option2', ['option1','option2','option3','option4'])" class="hov"><button type="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Back&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   </button></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <div onclick="fnctn('option2', ['option1','option2','option3','option4'])" class="hov"><button type="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></div>
            </div>
            <br>


              </div>
              <div id = "option3"  class="contain">
                                <h3>How would you like to get there?</h3>
            <div class="row">
              <div class="col-xs-12">
            <img src="static/img/transportation.png" height="25%" width="25%">
              </div>
              <div class="col-xs-12">
              <div class="col-xs-3">
              <input type="radio" name="transportMode" class="form-check-input" value="driving"> Car
              </div>
              <div class="col-xs-3">
            <input type="radio" name="transportMode" class="form-check-input" value="transit"> Public Transit <br>
            </div>
            <div class="col-xs-3">
            <input type="radio" name="transportMode" class="form-check-input" value="walking"> Walking
            </div>
            <div class="col-xs-3">
            <input type="radio" name="transportMode" class="form-check-input" value="bicycling"> Biking
            </div>
                </div>
            </div>
                  <br>
                    <div onclick="fnct('option3', ['option1','option2','option3','option4'])" class="hov"><button type="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Back&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   </button></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div onclick="fnctn('option3', ['option1','option2','option3','option4'])" class="hov"><button type="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></div>
              </div>
              <div  id = "option4" class="contain">
                  <h3>When would you like to arrive?</h3>
                  <div>
                   <img src="static/img/42.png" height="10%" width="10%">
                   </div>
                <input type="time" name="arrivalTime">
                <div>
                <br>
                <div class="cen" onclick="sub()" class="hov"><button type="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;&nbsp;   </button></div>
                </div>
                    <br>
                  <div class="cen" onclick="fnct('option4', ['option1', 'option2','option3','option4'])" class="hov"><button type="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Back&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   </button></div>
              </div>
        </form>
        <br>
        <br>
    </div>
    <div class="col-sm-2 sidenav">
    </div>
  </div>
    
</div>
    
    <footer class="footer container-fluid text-center">
    <div class="col-sm-6">
  <p>© Copyright 2016 DoesNotCommute</p>
  </div>
   <div class="col-sm-6">
   <a target="_blank" href="https://darksky.net/poweredby/">Powered by Darksky</a>
  </div>
</footer>
</body>
</html>
